header {
    background-image: url(https://4kwallpapers.com/images/walls/thumbs_3t/12183.jpg);
}

.down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: #29a352;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.39);    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

footer{
    background-color: #13ac46;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.verde{
    color: #ffffff;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.branco{
    color: #ffffff;
    font-size: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.mapa{
    color: #29a352;
    font-size: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    color: white;
}

img{
    height: 400px;
}

.tabela{
 display: flex;
 flex-direction: row;
}

.img{
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

iframe{
    margin-bottom: 3rem;
}

html {
    background-color: #29a352;
}
